body, p, h1, ul, li, blockquote {
    font-family: "Vollkorn", serif;
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



img {
    max-width: 100px;
}